.su-champions-grid
    opacity 1
    
    .empty-message
        align-items center
        color #cbcbcb
        display flex
        flex-direction row
        height 140px
        justify-content center
        text-align center