.button
    background $grey-4
    border none
    border-radius 5px
    color $grey-1
    cursor pointer
    display inline-block
    font-size 12px
    padding .5em 2em

    &:hover
        background $grey-5

    &:focus
        outline none