grid(cols)
    .row-{cols}
        font-size 0
        vertical-align top

        for i in range(0, cols)
            .col-{i}
                display inline-block
                font-size 16px
                width ((i / cols) * 100)%
                vertical-align top

grid(5)
grid(12)