$grey-1 = #212121
$grey-2 = #333
$grey-3 = #ccc
$grey-4 = #eee
$grey-5 = #f2f2f2

$color-primary = #257372
$color-primary-light = lighten($color-primary, 20%)

$color-secondary = #ff9c00

$color-tertiary = #2e883e