$header-height = 60px

.header
    background $grey-2
    box-shadow 0 1px 3px rgba(#000, .3)
    color #fff
    height $header-height

    &:after
        content ''
        display block
        clear both

    .page-title
        line-height $header-height
        margin-left .5em
        font-size 28px
        float left

    .tabs
        float right

        a
            height $header-height
            line-height $header-height
            padding 0 1em
            text-decoration none
            color $color-primary-light
            cursor pointer
            background $header-height
            display inline-block
            transition background .2s ease-in-out, color

            &:hover
                color darken($color-primary-light, 10%)