.su-sandbox-tabs

    .su-sandbox-tab
        background #ece2c8
        border 1px solid #c9a23c
        border-radius 3px
        box-shadow inset 0 12px 18px #fdf9ee, inset 0 -4px 8px #fdf9ee
        color #68604b
        cursor pointer
        font-size 16px
        margin-right .5em
        padding 1em
        text-align center
        width 10em

        &:hover
            box-shadow inset 0 12px 18px #fdf9ee, inset 0 -8px 16px #fdf9ee

        &.active
            background #f4e0bf
            box-shadow inset 2px 2px 3px #dfcb98, inset 0 -1px 2px #dfcb98, inset 0 6px 8px -5px #fdf9ee, inset 0 -4px 4px -2px #f4e3f5
            color #70463c