.rune-tooltip(ng-style="style", ng-class="{ active: active }", class="{{ rune.type | lowercase }}")
    .tier Tier {{ rune.tier }}
    .rank {{ rune.rank }}
    .name {{ rune.name }}
    .description {{ rune.description }}
    .cost {{ rune.cost }}