.su-sandbox-app
    background #e6d592
    border 1px solid #cf9816
    color #080806
    display flex
    flex 1
    flex-direction column
    max-width 1280px
    margin 0 auto
    padding 5px

.su-sandbox-header-inner
    align-items center
    display flex
    justify-content space-between

.su-sandbox-main
    display flex
    flex-direction row
    flex-grow 1
    margin-top 5px
    width 100%

    .su-sandbox-content-container
        display flex
        flex-grow 1
        max-width 84%

    .su-sandbox-stats-container
        display flex
        width 16%