html, body
    color #fff
    display block
    height 100%
    width 100%

body
    font-family "Helvetica-Neue", "Helvetica", Calibri, Arial, sans-serif

h1
    font-size 28px
    font-weight 600
    color #fff

h2
    font-size 22px
    font-weight 500
    color #eee

body *:not(script)
    display inline-block
    box-sizing border-box
