html
    font-family 'Oxygen', Calibri, Arial, sans-serif

body
    background $grey-1
    color #fff

.subhead
    line-height 2
    font-size 18px
    font-weight bold
    padding 0 1em
    background $grey-2

.relative
    position relative