.su-runes-page
    .runepage
        background url(/images/runes/runepage-bg.jpg) no-repeat left top
        display block
        flex 1
        position relative

        .rune
            background-repeat no-repeat
            background-position top left
            background-size cover
            height 55px
            width 49px
            vertical-align middle
            position absolute

            &.mark
                background-image url(/images/runes/marks-sprite.png)

            &.seal
                background-image url(/images/runes/seals-sprite.png)

            &.glyph
                background-image url(/images/runes/glyphs-sprite.png)

            &.quintessence
                background-image url(/images/runes/quints-sprite.png)
                width 100px
                height 100px
