.su-masteries-tooltip
    display none
    width 300px
    background #111
    color #eee
    border 2px solid
    border-radius 3px
    padding 5px
    z-index 100
    position relative
    left 65px
    pointer-events none
    box-sizing border-box
    //background-position-x -1px !important

    &.small
        width 225px

    &.x-small
        width 180px

    .name
        display block

    .rank
        display block
        margin-bottom 10px
        color #3c3

    .desc
        color #ccc

        .spell
            color #ca3

    hr
        height 2px
        border none
        width 90%
        margin 10px 0
        background -moz-linear-gradient(left, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 11%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.8) 90%, rgba(204, 204, 204, 0) 100%)
        background -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(204, 204, 204, 0)), color-stop(11%, rgba(204, 204, 204, 0.8)), color-stop(50%, rgba(204, 204, 204, 1)), color-stop(90%, rgba(204, 204, 204, 0.8)), color-stop(100%, rgba(204, 204, 204, 0)))
        background -webkit-linear-gradient(left, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 11%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.8) 90%, rgba(204, 204, 204, 0) 100%)
        background -o-linear-gradient(left, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 11%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.8) 90%, rgba(204, 204, 204, 0) 100%)
        background -ms-linear-gradient(left, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 11%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.8) 90%, rgba(204, 204, 204, 0) 100%)
        background linear-gradient(to right, rgba(204, 204, 204, 0) 0%, rgba(204, 204, 204, 0.8) 11%, rgba(204, 204, 204, 1) 50%, rgba(204, 204, 204, 0.8) 90%, rgba(204, 204, 204, 0) 100%)
        filter "progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#00cccccc',GradientType=1 )"

    h4
        font-size 12px
        margin 0

    .su-masteries-talent-container:hover &
        display block
