html
    font-family 'Oxygen', sans-serif
    background #f2f2f2

.subhead
    line-height 2
    font-size 18px
    font-weight bold
    padding 0 1em
    background darken($color, 20%)
    color #fff
    border-bottom 1px solid darken($color, 30%)