.su-stats-mod-list
    background #dbcb8c
    flex-grow 1

    .mods
        padding 0 .5em

    .mod
        display block
        padding 1em 0
        border-top 1px solid rgba(#aaa, .75)
        border-bottom 1px solid rgba(#eee, .75)
        font-size 12px

        &:first-child
            border-top none

        &:last-child
            border-bottom none

        .stat
            display block
            font-weight bold
            margin-bottom .5em

        .value
            display block